<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <h1>TODO LIST</h1>
    <form action="/" method="POST">
      <input type="text" name="todo" id="todo" placeholder="todo" />
      <input type="submit" value="Soumettre" />
    </form>
    <% if (todoList.length > 0) { %>
    <ul>
      <% todoList.forEach(todo => { %>
      <li><%= todo.todo %>	<a href="/delete/<%= todo.id %>">Delete</a></li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
